<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-3.0.xsd    
          http://www.springframework.org/schema/beans    
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="driver" class="com.mysql.jdbc.Driver"></bean>
	
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<!-- Driver driver, String url, String username, String password -->
		<property name="driver" ref="driver" />
		<property name="url" value="${com.micro.ss.db.url}"/>
		<property name="username" value="${com.micro.ss.db.username}"/>
		<property name="password" value="${com.micro.ss.db.password}"/>
	</bean>
	
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource"  ref="dataSource" />-->
		<!--<property name="mapperLocations">-->
			<!--<list>-->
				<!--<value>classpath:sqlmap/*.xml</value>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
	<!---->
	<!--<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="basePackage" value="com.micro.ss.web.data.mapper"/>-->
		<!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
	<!--</bean>-->

</beans>